@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html {
  --white: rgb(221, 221, 221);
  --black: rgb(0, 0, 0);
  --selected: rgb(50, 120, 233);
}

* {
  color: var(--white);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Silkscreen', monospace;
}

span {
  font-family: inherit;
}

html, body {
  background-color: var(--black);
}

body {
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}
